.create-bg {
    background-image: url(https://img.freepik.com/premium-vector/futuristic-glow-low-poly-jigsaw-puzzle-pieces-abstract-background-with-space-text-dark-blue_67515-494.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}