.edit-bg {
    background-image: url(https://assets.technologynetworks.com/production/dynamic/images/content/377333/crispr-cas9-boosts-rotifers-potential-as-laboratory-tool-377333-960x540.jpg?cb=12412000);
    background-repeat: no-repeat;
    background-size: cover;
}