.show-bg {
    background-image: url(https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149009903.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1713398400&semt=ais);
    background-repeat: no-repeat;
    background-size: cover;
}